@model IEnumerable<ArtFold.Models.Product>

 <!-- Latest Product Section Begin -->
<section class="latest-product spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="latest-product__text">
                    <h4>Latest Products</h4>
                    <div class="latest-product__slider owl-carousel">
                        <div class="latest-prdouct__slider__item">
                            @foreach(var product in Model)
                            {
                                <a asp-route-id="@product.ProductID" asp-controller="Products" asp-action="Details" class="latest-product__item">
                                    <div class="latest-product__item__pic">
                                        <img src="@product.ImgUrl" alt="">
                                    </div>
                                    <div class="latest-product__item__text">
                                        <h6>@product.Name</h6>
                                        <span>@(product.Price.ToString("N0").Replace(",", ".") + " đ")</span>
                                    </div>
                                </a>
                            }
                        </div>
                        <div class="latest-prdouct__slider__item">
                            @foreach (var product in Model)
                            {
                                <a asp-route-id="@product.ProductID" asp-controller="Products" asp-action="Details" class="latest-product__item">
                                    <div class="latest-product__item__pic">
                                        <img src="@product.ImgUrl" alt="">
                                    </div>
                                    <div class="latest-product__item__text">
                                        <h6>@product.Name</h6>
                                        <span>@(product.Price.ToString("N0").Replace(",", ".") + " đ")</span>
                                    </div>
                                </a>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="latest-product__text">
                    <h4>Top Rated Products</h4>
                    <div class="latest-product__slider owl-carousel">
                        <div class="latest-prdouct__slider__item">
                            @foreach (var product in Model)
                            {
                                <a asp-route-id="@product.ProductID" asp-controller="Products" asp-action="Details" class="latest-product__item">
                                    <div class="latest-product__item__pic">
                                        <img src="@product.ImgUrl" alt="">
                                    </div>
                                    <div class="latest-product__item__text">
                                        <h6>@product.Name</h6>
                                        <span>@(product.Price.ToString("N0").Replace(",", ".") + " đ")</span>
                                    </div>
                                </a>
                            }
                        </div>
                        <div class="latest-prdouct__slider__item">
                            @foreach (var product in Model)
                            {
                                <a asp-route-id="@product.ProductID" asp-controller="Products" asp-action="Details" class="latest-product__item">
                                    <div class="latest-product__item__pic">
                                        <img src="@product.ImgUrl" alt="">
                                    </div>
                                    <div class="latest-product__item__text">
                                        <h6>@product.Name</h6>
                                        <span>@(product.Price.ToString("N0").Replace(",", ".") + " đ")</span>
                                    </div>
                                </a>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="latest-product__text">
                    <h4>Review Products</h4>
                    <div class="latest-product__slider owl-carousel">
                        <div class="latest-prdouct__slider__item ">
                            @foreach (var product in Model)
                            {
                                <a asp-route-id="@product.ProductID" asp-controller="Products" asp-action="Details" class="latest-product__item">
                                    <div class="latest-product__item__pic">
                                        <img src="@product.ImgUrl" alt="">
                                    </div>
                                    <div class="latest-product__item__text">
                                        <h6>@product.Name</h6>
                                        <span>@(product.Price.ToString("N0").Replace(",", ".") + " đ")</span>
                                    </div>
                                </a>
                            }
                        </div>
                        <div class="latest-prdouct__slider__item">
                            @foreach (var product in Model)
                            {
                                <a asp-route-id="@product.ProductID" asp-controller="Products" asp-action="Details" class="latest-product__item">
                                    <div class="latest-product__item__pic">
                                        <img src="@product.ImgUrl" alt="">
                                    </div>
                                    <div class="latest-product__item__text">
                                        <h6>@product.Name</h6>
                                        <span>@(product.Price.ToString("N0").Replace(",", ".") + " đ")</span>
                                    </div>
                                </a>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Latest Product Section End -->
<script>
    $(".owl-carousel").owlCarousel({
        loop: true,
        margin: 10,
        nav: true,
        items: 1
    });
</script>