    @model IEnumerable<ArtFold.Models.Product>

@{
    ViewData["Title"] = "Index";
}

        <h1>Index</h1>

        <p>
            <a asp-action="Create">Create New</a>
        </p>
        <table id="productTable" class="table table-striped table-bordered no-wrap">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.CategoryID)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PrintPaperType)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Price)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ProductQuantity)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Description)
                    </th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Category.CategoryID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PrintPaperType)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Price)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ProductQuantity)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            <button type="button" class="btn btn-warning edit-button">
                                <a class="text-white" asp-action="Edit" asp-route-id="@item.ProductID">Edit</a>
                            </button> |

                            <button type="button" class="btn btn-danger edit-button">
                                <a class="text-white" asp-action="Delete" asp-route-id="@item.ProductID">Delete</a>
                            </button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>    



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

<script>
    $(document).ready(function () {
        $('#productTable').DataTable({
            responsive: true
        });
        
    })
</script>
